<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for ('static',filename='css/main.css')}}">
    <title>Face Recognition</title>
</head>
<body>


    <!---<div class="header">
        <a href="{{ url_for('index1')}}" class="logo">Face Emotion Recognition</a>
        <div class="header-right">
          <a class="active" href="{{ url_for('index1')}}">Home</a>
            <a href="{{ url_for('index1')}}">Contact</a>
          <a href="{{ url_for('index1')}}">About</a>
        </div>
      </div>--->



       <header class="text-gray-700 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">Face Emotion Recognition</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a href="{{ url_for('index')}}" class="mr-5 hover:text-gray-900">Home</a>
      <a href="{{ url_for('index')}}" class="mr-5 hover:text-gray-900">Live App</a>
      <a  href="{{ url_for('index1')}}" class="mr-5 hover:text-gray-900">Contact</a>
  
  </div>
</header>
      
    {% block bodyblock %}


    {% endblock  %}
    
      </body>
</html>