<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for ('static',filename='css/main.css')}}">
    <title>Face Recognition</title>
</head>
<body>


    <div class="header">
        <a href="{{ url_for('index')}}" class="logo">Face Emotion Recognition</a>
        <div class="header-right">
          <a class="active" href="{{ url_for('index')}}">Home</a>
            <a href="{{ url_for('index')}}">Contact</a>
          <a href="{{ url_for('index')}}">About</a>
        </div>
      </div>

      
    {% block bodyblock %}


    {% endblock  %}
    
      </body>
</html>